<p>New application fees approval request for application with ReferenceNo:<strong>{{ApplicationNo}}</strong>
    has been sent and its awaiting your review.</p>

<p>DISCLAIMER</p>

<p>This is system generated mail.Do not reply</p>