<p>Attention <strong>{{Name}}.</strong><br />
<br />
Fees amount of: <strong>{{TotalPaid}}</strong> paid for application with Reference <strong>{{Reference}}</strong> has been confirmed.Application is now marked as paid.<br />
<br />
This is computer generated message.Please do not reply.</p>

<p>DISCLAIMER</p>

<p>This is system generated mail.Do not reply</p>
