<p>Attention <strong>{{Name}}</strong>.<br />
Application: <strong>{{ApplicationNo}}</strong> has been APPROVED and Procuring Entity has been notified to respond before<strong> {{Approvalremarks}}.</strong><br />
<br />
This is computer generated message.Please do not reply.</p>
