<p>Attention <strong>{{Name}}</strong>.<br />
    <br />
    Application: <strong>{{ApplicationNo}}</strong> that you had submited to PUBLIC PROCUREMENT ADMINISTRATIVE
    REVIEW BOARD has been <strong>DECLINED</strong>, due to: <strong>{{Approvalremarks}}</strong>.You can resubmit the
    same application or create a new submission.<br />
    <br />
    This is computer generated message.Please do not reply.</p>