<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Request to adjourn application: <strong>{{ApplicationNo}}.</strong> has been <strong>ACCEPTED</strong>.You will be notified on the new date.<br />
<br />
This is computer generated message.Please do not reply.</p>
