<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Request to adjourn application: <strong>{{ApplicationNo}}</strong> has been <strong>SUBMITED</strong> and it&#39;s awaiting your review.<br />
This is computer generated message.Please do not reply.</p>
