<p>Attention <strong>{{Name}}</strong>.</p>

<p>Request to withdraw appeal: <strong>{{ApplicationNo}}.</strong> has been <strong>REJECTED</strong>.The reason why it was rejected is given below:<br />
<strong>{{Reason}}</strong><br />
The Appeal will proceed as scheduled.<br />
This is computer generated message.Please do not reply.</p>
