<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Your request to withdraw appeal: <strong>{{ApplicationNo}}.</strong> has been received and is awaiting approval.<br />
<br />
This is computer generated message.Please do not reply.`;</p>
