<p>Attention <strong>{{Name}}</strong>.<br />
<br />
New request to withdraw appeal: <strong>{{ApplicationNo}}.</strong> Has been submited and it&#39;s awaiting your review.<br />
<br />
This is computer generated message.Do not reply</p>
