<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Request to adjourn application: <strong>{{ApplicationNo}}.</strong> has been <strong>ACCEPTED</strong>.You are requested to re-schedule hearing date.<br />
<br />
This is computer generated message.Please do not reply.`;</p>
