<p>Attention <strong>{{Name}}</strong>.<br />
Your request to adjourn application: <strong>{{ApplicationNo}}</strong> has been <strong>RECEIVED</strong> and it&#39;s awaiting approval.<br />
This is computer generated message.Please do not reply.</p>
