<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Request to withdraw appeal: <strong>{{ApplicationNo}}.</strong> has been <strong>ACCEPTED</strong>.The Appeal is now marked withdrawn.<br />
<br />
This is computer generated message.Please do not reply.</p>
