<p>Thank you <strong>{{name}}</strong> for creating an account with ARCMS.</p>

<p>Your UserName is:&nbsp;<strong>{{Username}}</strong> and Your Activation Code is:&nbsp;&nbsp;<strong>{{activationCode}}&nbsp;</strong></p>

<p>DISCLAIMER</p>

<p>This is system generated mail.Do not reply</p>
