<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Your Request for <strong>DEADLINE EXTENSION </strong> has been fully approved and the new deadline is on: <strong>{{NewDeadline}} .</strong></p>

<p>&nbsp;</p>
