<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Your Request for <strong>DEADLINE EXTENSION </strong> has been <strong>DECLINED</strong> due to the following reason(s):<br />
<br />
{{Remarks}}.<br />
<br />
You are expected to submit your response before the date given earlier which is on: <strong>{{NewDeadline}} </strong></p>
