<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Decision for Application: <strong>{{ApplicationNo}} </strong> has been <strong>DECLINED</strong> due to:<br />
<br />
{{Remarks}}.<br />
<br />
Edit and resubmit for reviw.</p>
