<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Hearing date for application: <strong>{{ApplicationNo}}.</strong> has been set.Attached to this email is the Notice with details on the hearing date and venue.<br />
<br />
This is computer generated message.Please do not reply.`;</p>
