<p>Attention <strong>{{Name}}</strong>.<br />
    <br />
    Judicial Review update for Application: <strong>{{ApplicationNo}}</strong> has been received,Below is the details of
    the action required:.<br />
    <br />
    <strong>Action:</strong><strong>{{ActionDescription}}</strong><br />
    <br />
    <strong>Action date:</strong><strong>{{ActionDate}}</strong><br />
    <br />
    Login to ARCMS.<br />
    <br />
    This is computer generated message.Please do not reply.</p>