<p>Dear {{Name}}</strong>.<br />
    <br />
    Thank you for Registering with eARCMS. Your User Name is <strong>{{Username}}</strong> and Password is
    <strong>{{Password}}</strong>. Remember to reset your password on first login. Regards<br />
    <br />
    ARCMS &ndash; System Administrator<br />
    <br />
    This is computer generated message.Please do not reply.</p>