<p>Attention <strong>{{Name}}</strong>.<br />
<br />
New Application: <strong>{{ApplicationNo}}.</strong> Has been submited to PUBLIC PROCUREMENT ADMINISTRATIVE REVIEW BOARD, you are required to Login to ARCMS System to submit your response before <strong>{{ResponseTimeout}}</strong>.<br />
<br />
This is computer generated message.Please do not reply.</p>
