<p>Attention <strong>{{Name}}.</strong><br />
<br />
<strong>{{PEName}}.</strong>has submited their response to Application:<strong> {{ApplicationNo}}. </strong>to PPARB.<br />
<br />
Login to ARCMS to vew more details.<br />
<br />
This is computer generated message. Please do not reply.</p>
