<p>Attention <strong>{{Name}}.</strong><br />
<br />
Your response for Application:<strong> {{ApplicationNo}}. </strong>has been received.You will be notified when hearing date will be set.<br />
<br />
This is computer generated message.Please do not reply.</p>
