<p>Attention <strong>{{Name}}</strong>.<br />
<br />
<strong>{{PEName}}.</strong> has submited response to Application: <strong>{{ApplicationNo}}.</strong> You are required to form a panel and submit it for review.<br />
<br />
This is computer generated message.Please do not reply.</p>
