<p>Attention <strong>{{Name}}</strong>.<br />
<br />
Payment details for Filling Preliminary Objection response for application: <strong>{{ApplicationNo}}</strong> has been submited and it&#39;s waiting for your review.<br />
<br />
This is computer generated message.Please do not reply.</p>
